[Unit]
Description=Track installed packages and commit changes to git
After=network.target

[Service]
Type=oneshot
ExecStart=%h/.config/bin/pkg-tracker.sh

[Install]
WantedBy=default.target
