[Unit]
Description=Powerstat Continuous Logger
After=default.target

[Service]
Type=simple
ExecStart=%h/.config/bin/powerstat-logger.sh
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
